/* Give your page a fun background color */
body{
  background-color: #dad8dc;
}
/* Make the header and footer a different color from the background */
header{
  background-color:#9aaab3;
}

footer {
  background-color: #9aaab3;
}

hr {
  width: 96%;
  height: 8px;
  margin-left:auto;
  margin-right: auto;
  background-color:#463d52;
  margin-top: 25px;
  margin-bottom:25px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  font-family: verdana;
  color: #463d52;
  font-size: 60px;
}

h2{
  text-align:center;
  font-family: verdana;
  color: #685c78;
  font-size: 40px;
}

/* Make your p tag a different color and italic */
p {
  text-align: center;
  color: #685c78;
  font-family: cursive;
  font-style: italic;
  font-size: 30px
 }

/* Put a border around your image */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 300px;
  width: 240px;
  border: 15px solid #677780;
  padding: 10px;}

/* Change the font-family of your list */
li{
  margin-left: 2%;
  font-size:20px;
  font-family: georgia;
  color: #394e57;
  text-align: left;}

span {
  margin-left:2%;
  margin-right:2%;
  font-size: 20px;
  font-family: verdana;
  color:#7f97a1;
